# Bytecode & Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Distribution & Packaging
build/
dist/
*.egg-info/
*.egg

# Logs & Temp
*.log
*.tmp
*.bak

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
